header {
    width: 100%;
    background-color: #fff;
    padding: 3px;
}

header p {
    color: #78b494;
    text-align: center;
    font-size: 22pt;
}

header img#header {
    width: 100%;
}

body {
    background-color: #78b494;
    font-family: Oswald,sans-serif;
}

nav {
    width: 20%;
    float: left;
}

nav ul {
    padding: 0 1px 1px;
    margin-left: 2px;
    width: 15em;
}

nav ul li {
    list-style: none;
    margin: 3px;
    text-align: left;
}

nav ul li a {
    display: block;
    padding: .25em .5em .25em .75em;
    background: #0f5a32;
    text-decoration: none;
}

nav ul li a:link {
    color: #000;
}

nav ul li a:visited {
    color: #fff;
}

nav ul li a:hover {
    color: #FFF;
    background: #28784d;
}

article {
    width: 55%;
    float: left;
    padding: 5px;
    margin-top: 15px;
    background-color: #323875;
    color: #fff;
    text-align: center;
    font-size: 12pt;
}

h1 {
    font-size: 20pt;
}

aside {
    width: 20%;
    float: left;
    padding: 5px;
    margin: 15px;
    text-align: center;
    color: #fff;
    background-color: #0f5a32;
}

footer {
    width: 100%;
    color: #fff;
    margin: 5px;
    text-align: center;
    background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#323875));
    background: -webkit-linear-gradient(top,#fff,#323875);
    background: -moz-linear-gradient(top,#fff,#323875);
    background: -ms-linear-gradient(top,#fff,#323875);
    background: -o-linear-gradient(top,#fff,#323875);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: left;
}

@media screen {
    main {
        width: 100%;
    };
}

@media screen and (max-width:640px) {
    main {
        width: 50%;
    };
}

@media screen and (max-width:480px) {
    main {
        width: 100%;
    };
}
