header
{
    width: 100%;
    padding: 3px;

    background-color: #fff;
}

header p
{
    font-size: 22pt;

    text-align: center;

    color: #78b494;
}

header img#header
{
    width: 100%;
}

body
{
    font-family: Oswald,sans-serif;

    background-color: #78b494;
}

nav
{
    float: left;

    width: 20%;
}

nav ul
{
    width: 15em;
    margin-left: 2px;
    padding: 0 1px 1px;
}

nav ul li
{
    margin: 3px;

    list-style: none;

    text-align: left;
}

nav ul li a
{
    display: block;

    padding: .25em .5em .25em .75em;

    text-decoration: none;

    background: #0f5a32;
}

nav ul li a:link
{
    color: #000;
}

nav ul li a:visited
{
    color: #fff;
}

nav ul li a:hover
{
    color: #fff;
    background: #28784d;
}

article
{
    font-size: 12pt;

    float: left;

    width: 55%;
    margin-top: 15px;
    padding: 5px;

    text-align: center;

    color: #fff;
    background-color: #323875;
}

h1
{
    font-size: 20pt;
}

aside
{
    float: left;

    width: 20%;
    margin: 15px;
    padding: 5px;

    text-align: center;

    color: #fff;
    background-color: #0f5a32;
}

footer
{
    float: left;

    width: 100%;
    margin: 5px;

    text-align: center;

    color: #fff;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#323875));
    background: -webkit-linear-gradient(top,#fff,#323875);
    background:    -moz-linear-gradient(top,#fff,#323875);
    background:     -ms-linear-gradient(top,#fff,#323875);
    background:      -o-linear-gradient(top,#fff,#323875);
}
